@import 'basscss-basic';

/* Add-on Modules */
@import 'basscss-addons/modules/btn';
@import 'basscss-addons/modules/btn-primary';
@import 'basscss-addons/modules/background-colors';
@import 'basscss-addons/modules/colors';
@import 'basscss-addons/modules/forms';
@import 'basscss-addons/modules/input-range';
@import 'basscss-addons/modules/responsive-margin';
@import 'basscss-addons/modules/responsive-padding';
@import 'basscss-addons/modules/media-object';
@import 'basscss-addons/modules/all';
@import 'basscss-addons/modules/progress';
@import 'basscss-addons/modules/lighten';
@import 'basscss-addons/modules/background-images';
@import 'basscss-addons/modules/darken';

/* Base Modules */
@import 'basscss-type-scale';
@import 'basscss-typography';
@import 'basscss-layout';
@import 'basscss-align';
@import 'basscss-margin';
@import 'basscss-padding';
@import 'basscss-grid';
@import 'basscss-flexbox';
@import 'basscss-position';
@import 'basscss-border';
@import 'basscss-hide';


html *
{
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
   color: #333;
}

.navbar-link {
  color: #0B3D88;
  font-weight: bold;
}


autoinput {
  color: #0B3D88;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

table {
border-collapse: collapse;
}
table, th, td {
  border: 1px solid #0B3D88;
}
th, td {
  padding: 15px;

}
th {
  color: #fff;
  background-color: #0B3D88;
}
tr:nth-child(even) {
  background-color: #79C3E5;
}

visual-map {
  position: relative;
  min-height: 500px;
  width: 100%;
  height: 100%
}

.visualization-container {
  padding-left: 40px;
  padding-right: 40px;
}

.visual-title {
  font-size: 24px;
  font-family: Helvetica Light;
  border-top: 1px solid #E1E1E1;
  color: #333;
  padding-top: 35px;
}
