@import 'basscss-basic';

/* Add-on Modules */
@import 'basscss-addons/modules/btn';
@import 'basscss-addons/modules/btn-primary';
@import 'basscss-addons/modules/background-colors';
@import 'basscss-addons/modules/colors';
@import 'basscss-addons/modules/forms';
@import 'basscss-addons/modules/input-range';
@import 'basscss-addons/modules/responsive-margin';
@import 'basscss-addons/modules/responsive-padding';
@import 'basscss-addons/modules/media-object';
@import 'basscss-addons/modules/all';
@import 'basscss-addons/modules/progress';
@import 'basscss-addons/modules/lighten';
@import 'basscss-addons/modules/background-images';
@import 'basscss-addons/modules/darken';

/* Base Modules */
@import 'basscss-type-scale';
@import 'basscss-typography';
@import 'basscss-layout';
@import 'basscss-align';
@import 'basscss-margin';
@import 'basscss-padding';
@import 'basscss-grid';
@import 'basscss-flexbox';
@import 'basscss-position';
@import 'basscss-border';
@import 'basscss-hide';


html *
{
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
   color: #333;
}

body {
  background-color: #F5F5F5;
}

a {
  color: #0B3D88;
  text-decoration: none;
}

.navbar-link {
  color: #0B3D88;
  font-weight: bold;
}


autoinput {
  color: #0B3D88;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

table {
border-collapse: collapse;
}
table, th, td {
  border: 1px solid #E1E1E1;
  padding-top: 4px;
  border-radius: 3px 3px 3px 3px;
  font-family: Helvetica Regular;
  background-color: #FFF;
}
th, td {
  padding: 10px;
  /*Comps: 10px padding of cells*/
}

th {
  color: #FFF;
  font-size: 12px;
  background-color: #0B3D88;
  text-transform: capitalize;
}

td {
  font-size: 11px;
  /* TODO: Negative Numbers: #CC0000*/
}

/*tr:nth-child(even) {
  background-color: #FFF;
}*/

td:not(:first-child) {
  text-align: right;
}

visual-map, visual-bar, visual-list, visual-column, visual-pie {
  position: relative;
  display: inline-block;
  min-height: 500px;
  min-width: 600px;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.chart-div {
  background-color: #F5F5F5;

}

.visualization-container {
  max-width: 1150px;
}

nav {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #FFF;
  height: 70px;
}

.tab {
  display: inline;
  padding: 0 10px;
  border: 1px solid #E1E1E1;
  border-radius: 4px 4px 0 0;
  margin-right: 6px;
  background-color: #F5F5F5;
  /*padding: 10px;*/
}

.tab-selected {
  display: inline;
  border-top: 1px solid #E1E1E1;
  border-left: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
  border-radius: 4px 4px 0 0;
  margin-right: 6px;
  background-color: #F5F5F5;
  padding: 10px;
}

.tab-container {
  margin-top: 6px;
  background-color: #FFF;
}

.visual-title {
  font-size: 24px;
  font-family: Helvetica Light;
  border-top: 1px solid #E1E1E1;
  color: #333;
  background-color: #F5F5F5;
  padding-top: 35px;
}

.legend {
  background-color: #E8E8E8;
  flex: 1 1 auto;
  width: 100%;
  min-width: 600px;
  display: block;
  padding: 20px;
  border: 1px solid #E1E1E1;
}
